
@if(errorMessage())
{
    {{errorMessage()}}
}



    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login">
        
        <div class="">
            <label>Email</label>
        <br/>
        <input formControlName="email"/>
    </div>
    
    <div class="m-auto p-2">
        <label>Password</label>
        <br/>
        <input formControlName="password"/>
    </div>
    
    <div class="d-flex justify-between ">
        <button class="btn btn-green" type="submit" [disabled]="form.invalid">Login</button>
        <a class="btn btn-blue" (click)="emitValue()" routerLink="register">S'enregistrer</a>
    </div>

</form>